@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Work+Sans:wght@400;500;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a :hover {
    color: blue;
}

a {
    display: inline-block;
    padding: .5em;
}

nav {
    display: flex;
    background-color: gray;
    align-items: center;
}

ul {
    list-style-type: none;
}
img {
    width: 40px;
    padding: .5em;
}

.logo {
    margin: 0 auto;
    font-family: Montserrat;
    font-size: 3em;
    padding: .2em 0;
}

.nav-left {
    display: flex;
    font-weight: bold;
}

.nav-right {
    display: flex;
}

.follow-us {
    margin-top: 5px;
    font-weight: bold;
}