* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

/* Small devices (phones and pocket devices, 576 and up) */
@media screen and (max-width: 992px) {
    .alert-info {
        display: flex;
        justify-content: center;
        background-color: #CBFFFF;
        border: 2px solid #CCCCCC;
        padding: 10px;
        margin: 10px;
    }

    .alert-info a {
        text-decoration: none;
        color: black;
        font-size: 12px;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 40px;
    }

    nav {
        margin-top: 20px;
    }

    ul {
        list-style-type: none;
        height: 13em;
        margin: 0 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: center;

    }

    li {
        background-color: #CCCCCC;
        width: 100%;
        height: 25px;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .header-img {
        display: flex;
        justify-content: center;
    }

    .header-img img {
        width: calc(100% - 20px);
        height: 224px;
        margin: 20px;
    }

    #main, .sub-section {
        margin: 10px 20px 30px;
    }

    #main p, .sub-section p {
        margin-top: 10px;
        text-align: left;
        font-size: 13px;
    }

    .sub-section {
        font-style: italic;
    }

    footer {
        display: flex;
        justify-content: space-between;
        margin: 50px 20px 20px;
        align-items: baseline;
    }

    footer p {
        margin-right: auto;
    }

    #social-media-links img {
        width: 30px;
        margin-left: auto;
    }

}

/*Very small devices all less than 329px*/
@media screen and (max-width: 329px) {
    footer p {
        font-size: 12px;
    }

    #social-media-links img {
        width: 20px;
        margin-left: auto;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    body {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: flex;
        font-size: 40px;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        margin: 20px;
    }

    nav {
        flex-grow: 1;
        position: relative;
        right: 10px;
    }

    .nav-link {
        margin: 0 10px;
    }

    ul {
        display: flex;
        list-style-type: none;
        justify-content: flex-end;
    }

    li {
        margin: 0 15px;
        display: inline;
    }

    .header-img {
        width: calc(100% - 40px);
    }

    .header-img img {
        width: 100%;
        margin: 0 20px;
    }

    .main {
        width: calc(60% - 5px);
        margin-left: 5px;
        text-align: justify;
    }

    .sub-section {
        width: calc(40% - 5px);
        margin-right: 5px;
        text-align: justify;
    }

    .main h2, .sub-section h2 {
        margin: 20px;
    }

    .main p, .sub-section p {
        margin: 20px;
    }

    footer {
        width: 100%;
        padding-top: 400px;
        margin: 50px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #social-media-links img {
        width: 40px;
        position: relative;
        right: 20px;
    }
}
