* {
    margin: 0 auto;
}
body {
    background-image: url("https://i.imgflip.com/1r1bep.jpg");
    background-size: cover;

}

section {
    text-align: center;
    background-color: pink;
    margin-top: 75%;
    width: 350px;
}

.bread {
    background-color: tan;
    height: 40px;
    width: 300px;
    border-radius: 1em;
    padding-top: 10px;
}

.pb {
    background-color: saddlebrown;
    height: 25px;
    width: 300px;
    border-radius: 1em;
}

.jelly {
    background-color: palevioletred;
    height: 25px;
    width: 300px;
    border-radius: 1em;
}