hr {
    height: 5px;
    background-color: #95AA75;
}
@media (max-width: 768px) {
    .smaller {
        height: 150px;
    }
    .smaller p {
        width: 100px;
        margin: 10px 0;
    }
}
@media (min-width: 768px) and (max-width: 992px){
    .smaller {
        font-size: 14px;
    }
}