@import url('https://fonts.googleapis.com/css2?family=The+Nautigal&display=swap');

body :not(ul, li) {
    text-align: center;
}

ul, ol {
    list-style-type: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.img {
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}

header {
    padding-top: 10px;
    background-color: #2594CC;
    border-radius: 15px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}
.header-p {
    padding-bottom: 25px;
}

.table-div {
    padding-bottom: 50px;
}

h1 {
    color: purple;
}

hr {
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}

h2 {
    color: blue;
    text-decoration: underline;
}

.fancy-header {
    text-align: center;
}

body {
    background-color: #647595;
    font-family: 'The Nautical', cursive;
}

main {
    background-image: url("https://images.pexels.com/photos/103123/pexels-photo-103123.jpeg?cs=srgb&dl=pexels-julian-jagtenberg-103123.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
}

table, th, td {
    border: 5px solid black;
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    padding: 10px;
}

/* unvisited link (:link) */
a:link {
    color: darkred;
}

/* visited link (:visited) */
a:visited {
    color: black;
}

/* mouse hover over link (:hover) */
a:hover {
    color: blue;
}

/* active/selected link (:active) */
a:active {
    color: green;
}